###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*.dev.key
/public/bundles/
/var/
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/log/
/var/log/*
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt/*.pub
###< lexik/jwt-authentication-bundle ###

###> De l'IDE & OS ###
.idea/
.vscode/
.DS_Store
/public/uploads/
/public/build/